---
title: Vaida Plankytė
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/css/favicon.ico">
    <meta name="description" content="Vaida Plankytė">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      Vaida Plankytė
      <nav>
        <a href="/">Home</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/blog/">Blog</a>
        <a href="/about">About</a>
      </nav>
      <hr>
    </header>
    <main id="skip">
      {{ content }}
    </main>
    <footer>
      <hr>
      Vaida Plankytė
      <nav>
        <a href="/">Home</a>
        <a href="/portfolio/">Portfolio</a>
        <a href="/blog/">Blog</a>
        <a href="/about">About</a>
      </nav>
    </footer>
  </body>
</html>